@charset "utf-8";
body {
	font-family: arial;
	margin-left: 80px;
}
p {
	font-size:24px;
}
pre {
	font-size:24px;
}
hr {
	width: 100%;
	height: 2px;
	
	margin-top:10px;
	margin-bottom:10px
}
.header {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	
	margin-top:0px;
	margin-bottom:0px;
	
	color: rgb(153, 0, 0);
}
.subheader {
	color: #000099;
	
	margin-bottom:100px;
}
.segment-header {
	color: rgb(0, 0, 153);
	font-size: 30px;
}
.black-bold {
	color: rgb(0,0,0);
	font-weight: bold;
}
.glossary-term {
	font-weight: 700;
	color: #000099;
}
.code {
	font-family: 'Courier New';
}
.comment {
	color:rgb(0, 128, 0);
}
ul li {
	margin-bottom: 5px;
	font-size:24px;
}.red {
	color: #F00;
}
.green {
	color: #0A0;
}
