/* an external style sheet

   notice the use of c-style comments and not xhtml-style
   comments
   */
  body {color: orange; background-color: gray;}
  table {color: orange; 
         background-color: #000000;
         }
  caption {font-size: 24pt;
           font-weight: bold;
        font-family: Georgia "Courier New";
        }
        
  td,th {padding: 20px;}