<!--Nemanja Zutkovic (101085982)-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="container" align="center">

        <div class="wrapper">
            Enter An Ingredient: <input type="text" name="ingredient" id="ingredient" />
            <button id="submit" onclick="getIngredients()" style="margin-bottom: 50px; background-color:#87cefa">Submit</button>
        </div>

        <div id="recipe">
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>